*.tar
# Python cache
__pycache__/
*.pyc

# Virtualenv
venv/
env/
fastapi-venv/

# Editor backups
*.tmp
~$*
*.swp
*.bak

# Model outputs (optional)
*.pt
*.pth
*.weights

# OS / IDE
.DS_Store
Thumbs.db
